.commentsContainer {
    padding: 0 12px;
  }
  .commentCard {
    .deleteButton {
      position: absolute;
      right: 8px;
      top: 8px;
      z-index: 1;
      opacity: 0;
    
    }
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  
  .commentCard:hover .deleteButton {
    animation: fadeIn 0.5s ease-in-out 0.2s forwards; 
  }
  
  